.title{
    text-align: center;
  height: 100px;
   color: black;
   margin-top: 100px !important; 

}
.container-fluid{
    /* background-color:rgb(115, 204, 231); */


}

.A1{
    /* background-color: rgb(212, 12, 162); */
    width: 200px;
    height: 250px;
    /* background-color: lightblue; */
    box-shadow: 10px 20px 20px rgb(245, 204, 211);
    margin-left: 700px; 
    margin-top: 100px;
}
.nav{
    justify-content: center;
}
/* .l1{
    box-shadow: 20px 20px 20px rgb(8, 173, 214);   
} */